@{
    ViewBag.Title = "About";
}
<h2> Algo más sobre nosotros</h2>
<h3>¿Quienes somos?</h3>

<p>Somos una empresa lo cual quiere ayudar a los profesionales de aseo y jardineria 
	con el fin de que optimizen su tiempo de busqueda y organizar un horario que les 
	sea conveniente y de igual manera si le es posible trabajar en varios lados tambien
	a los empleados les damos la posibilidad de trabajar en lo que mas se especializa si 
	es en plachado, lavanderia, etc. Y como valor agregado queremos que nuestros empleados 
	tengan la certeza y seguridad de poder contar con un contrato de manera de poder acceder
	a beneficios en caso de accidentes u entre otro.</p>
