@{
    ViewBag.Title = "Contact";
}
<h2> Contactanos</h2>
<h3>¿Como contactarnos?</h3>

<address>
	Home Appvisor - Inacap<br />
	Av. Concha Y Toro 2618, Puente Alto, Región Metropolitana<br />
	<abbr title="Telefono">T:</abbr>
	(2) 2816 2300
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">javier.novoa@inacapmail.cl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">jorge.lejeune@inacapmail.cl</a>
</address>